extends layout

block content
  h1= title
  p Welcome to #{title}

  //Wrapper
  #wrapper

    h3 Select bond
        div
            select(name='sel_name', id='sel_name') 
                option(value='') 
    //MysqlRateList
    h3#tabletitle
    #mysqlRateList
        table
            thead
                th date
                th rate
                th currency
            tbody
    // /mysql Rate list
  // /Wrapper
