extends layout

block content
  h1= title
  p Welcome to #{title}

  //Wrapper
  #wrapper

    //Rate list
    h2 Exchange rate list
    #ratelist
        table
            thead
                th id
                th Name
                th Rate
            tbody
    // /Rate list
  // /Wrapper

