extends layout

block content
  #header
    h1= title
  body
    button#defaultOpen.tablink(onclick="openPage('ERV', this, 'orange')") Exchange Rates
    button.tablink(onclick="openPage('Portfolio', this, 'orange')") Portfolio
    button.tablink(onclick="openPage('Manage', this, 'orange')") Admin
    #ERV.tabcontent
      h3 Exchange Rates
      #dropdown_wrapper
        h3 Select bond
            #dropdown
                select(name='sel_name', id='sel_name') 
                    option(value='') 
        canvas#myChart(width='400', height='100')
      //Wrapper
      #wrapper
        //MysqlRateList
        h3#tabletitle
        #mysqlRateList
            table
                thead
                    th date
                    th rate
                    th currency
                tbody
        // /mysql Rate list
      // /Wrapper
      p Some news this fine day!
    #Portfolio.tabcontent
      h3 Complete portfolio
        canvas#myPortfolio(width='400', height='150')
    #Manage.tabcontent
      h3 Portfolio
       #dropdown_wrapper
        h3 Select bond
            #dropdown
                select(name='sel_portf', id='sel_portf') 
                    option(value='') 
      #wrapper
        - for (i=0; i<5; i++)
            canvas(id="myPortfolio" + i, width='400', height='100')
