extends layout

block content
  #header
    h1= title
  body
    button#defaultOpen.tablink(onclick="openPage('ERV', this)") Exchange Rates
    button.tablink(onclick="openPage('Portfolios', this)") Portfolios
    button.tablink(onclick="openPage('Portfolios_all', this)") All Portfolios
    button.tablink(onclick="openPage('Collections', this)") Collections
    #ERV.tabcontent
      #dropdown_wrapper
        h3 Select bond
            #dropdown
                select(name='sel_name', id='sel_name') 
                    option(value='')
                text#picker Limit date from:
                input#fromdate(type='date') 
        canvas#myChart(width='400', height='100')
      //Wrapper
      #wrapper
        //MysqlRateList
        h3#tabletitle
        #mysqlRateList.table
            table
                thead
                    tr
                        th date
                        th rate
                        th currency
                tbody
        // /mysql Rate list
      // /Wrapper
    #Portfolios.tabcontent
      #dropdown_wrapper
        h3 Select bond
          #dropdown
            select(name='sel_portf', id='sel_portf') 
              option(value='') 
            text#picker Limit date from:
            input#fromdate_p(type='date') 
      #wrapper_pf
    #Portfolios_all.tabcontent
      h3 All portfolios go here
    #Collections.tabcontent
      //CollectionSumTable
      h3 Current Total Value
      #collectionsumtable.table
        table
          thead
            th date
            th total value
          tbody
      // /CollectionSumTable
      canvas#myPortfolio(width='400', height='150')
      //CollectionHistoryTable
      h3 Historical Total Value
      #collectionhistorytable.table
        table
          thead
            th date
            th total value
          tbody
      // /CollectionHistoryTable
