extends layout

block content
  h1= title
  p Welcome to #{title}

  //Wrapper
  #wrapper

    h3 Select bond
        div
            select(name='sel_name', id='sel_name') 
                option(value='') 
    //MysqlRateList
    h2 Exchange rate list
    #mysqlRateList
        table
            thead
                th id
                th name
                th rate
            tbody
    // /mysql Rate list
  // /Wrapper
