extends layout

block content
  #header
    h1= title


  #dropdown_wrapper
    h3 Select bond
        #dropdown
            select(name='sel_name', id='sel_name') 
                option(value='') 
  //Wrapper
  #wrapper
    canvas#myChart(width='400', height='100')
    //MysqlRateList
    h3#tabletitle
    #mysqlRateList
        table
            thead
                th date
                th rate
                th currency
            tbody
    // /mysql Rate list
  // /Wrapper
