extends layout

block content
  h1= title
  p Welcome to #{title}

  //Wrapper
  #wrapper

    //Rate list
    h2 Exchange rate list - sqlite
    #rateList
        table
            thead
                th id
                th Name
                th Rate
            tbody
    // /Rate list
    //MysqlRateList
    h2 Exchange rate list - mysql
    #mysqlRateList
        table
            thead
                th id
                th name
                th rate
            tbody
    // /mysql Rate list
    h3 Dropdown test
        div
            select(name='sel_name', id='sel_name') 
                option(value='') 
  // /Wrapper
