doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/topcontrol.css')
  body
    block content
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    script(src='/javascripts/layout.js')
    script(src='/javascripts/chart_helper.js')
    script(src='/javascripts/global.js')
    script(src='/javascripts/rate_page.js')
    script(src='/javascripts/portfolio.js')
    script(src='/javascripts/portf_all.js')
    script(src='/javascripts/collection.js')
    script(src='/javascripts/moment.js')
    script(src='/javascripts/Chart.js')
