:root{
    --main-color: #66ccff
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0 0 0 0;
}

h1 {
    margin:0 0 0 0;
    padding: 15px;
    color: white;
}

#header {
    background-color: var(--main-color);
}
select {
    border-radius: 0px;
    border-color: rgb(169, 169, 169);
    background-color: var(--main-color);
    color: white;
    --text-shadow: 1px 1px #1a1a1a;
}

#dropdown_wrapper {
    --padding-sides:112px;
    padding-right: var(--padding-sides);
    padding-left: var(--padding-sides);
    position:relative;
}

#wrapper {
    --padding-sides:112px;
    padding-right: var(--padding-sides);
    padding-left: var(--padding-sides);
    position:relative;
}

#mysqlRateList {
   margin:0 0 30px 0;
   font-family:Verdana;
}
   #mysqlRateList table {
      border-collapse:separate;
      border-spacing:1px;
      background:#CCC;
   }
      #mysqlRateList table th {
         background:#EEE;
         font-weight:600;
         padding:10px 20px;
         text-align:center;
      }
      #mysqlRateList table tbody {
         padding:0; margin:0;
         border-collapse:collapse;
         border-spacing:0px;
      }
         #mysqlRateList table td {
            background:#FFF;
            padding:5px 10px;
            text-align:center;
         }

fieldset {
	border:0;
	padding:0; margin:0;
}

a {color: black;margin: 5px; text-decoration: none;}
