:root{
    --main-color: #e0edff;
    --text-color: #0e3263;
    --text-color-inactive: #8fb7ef;
    --hover-color: #cce1ff;
    --hover-color-text: var(--text-color);
    --highlight-color: var(--hover-color);
}

body {
  height: 100%;
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0 0 0 0;
}

h1 {
    margin:0 0 0 0;
    padding: 15px;
    color: var(--text-color);
}

h3 {
    margin:0 0 0 0;
    padding: 15px;
    color: var(--text-color);
    background-color: var(--main-color);
    border-radius: 5px;
}
#header {
    background-color: var(--main-color);
}
select {
    border-radius: 0px;
    border-width: 0px;
    border-color: white;
    background-color: white;
    color: black;
    --text-shadow: 1px 1px #1a1a1a;
    font: 12px;
    margin-top: 7px;
    margin-bottom: 3px;
}

.table {
    margin:0 0 30px 0;
    font-family:Verdana;
    border-collapse: collapse;
}

.table table {
    border-collapse:separate;
    border-spacing:1px;
    background:#CCC;
    width: 100%;
    color: #636363;
}

.table table th {
    background:#EEE;
    font-weight:600;
    padding:10px 20px;
    text-align:center;
}

.table table tbody {
    padding:0; margin:0;
    border-collapse:collapse;
    border-spacing:0px;
}

.table table td {
    background:#FFF;
    padding:5px 10px;
    text-align:center;
    color: #636363;
}

input[type="date"]::-webkit-clear-button {
    display: none;
}

input[type="date"]::-webkit-inner-spin-button {
    display: none;
}

input[type="date"] {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    border-radius: 0px;
    border-width: 0px;
    border-color: white;
    margin-left: 20px;
}

#picker {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    margin-left: 20px;
}

fieldset {
    border:0;
    padding:0; 
    margin:0;
}

a {color: black;margin: 5px; text-decoration: none;}
